*{
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
}

body{
    background-color: black;
}
.cover
{
    margin: 80px 0px;
  text-align: center;

}

#banner
{
    height: 40vh;

}

#sec-1
{
    text-align: center;
}

#sec-2
{
    margin-top: 50px;
    text-align: center;
 
}

.proj{
    display: flex;
    width: 80%;
    margin-left: 10%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap:wrap;
}

.project-content
{
   
    background-size: 20rem;
    background-repeat: no-repeat;

    width: 300px;
    height: 200px;
    background-color: green;
    margin: 20px;
    border: 3px solid orange;
}


.btn
{
    margin-top: 30px;
}

#sec-3
{   
    margin-top: 50px;
    text-align: center;
}
.blog
{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.blog-post
{
    width: 300px;
    height: 300px;
    padding: 1rem;
    background-color: green;
    margin: 20px;
    border: 3px solid orange;
}

footer
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-align: center;
}

